snippet CHROMEOS_COPYRIGHT_BASH_STYLE
# Copyright `date '+%Y'` The ChromiumOS Authors
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.
endsnippet

snippet CHROMEOS_COPYRIGHT_C_STYLE
/* Copyright `date '+%Y'` The ChromiumOS Authors
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */
endsnippet
