@font-face {
  font-family: "UbuntuMono Nerd Font";
  src: url("https://raw.githubusercontent.com/ryanoasis/nerd-fonts/master/patched-fonts/UbuntuMono/Regular/UbuntuMonoNerdFont-Regular.ttf") format("truetype");
  font-stretch: normal;
  font-style: normal;
}
/*@font-face {*/
  /*font-family: "UbuntuMono Nerd Font";*/
  /*src: url("https://raw.githubusercontent.com/ryanoasis/nerd-fonts/master/patched-fonts/UbuntuMono/Regular-Italic/UbuntuMonoNerdFont-Italic.ttf") format("truetype");*/
  /*font-stretch: normal;*/
  /*font-style: normal;*/
/*}*/
/*@font-face {*/
  /*font-family: "UbuntuMono Nerd Font";*/
  /*src: url("https://raw.githubusercontent.com/ryanoasis/nerd-fonts/master/patched-fonts/UbuntuMono/Bold/UbuntuMonoNerdFont-Bold.ttf") format("truetype");*/
  /*font-stretch: normal;*/
  /*font-style: normal;*/
/*}*/
/*@font-face {*/
  /*font-family: "UbuntuMono Nerd Font";*/
  /*src: url("https://raw.githubusercontent.com/ryanoasis/nerd-fonts/raw/master/patched-fonts/UbuntuMono/Bold/UbuntuMonoNerdFont-Bold.ttf") format("truetype");*/
  /*font-stretch: normal;*/
  /*font-style: normal;*/
/*}*/
/*@font-face {*/
  /*font-family: "UbuntuMono Nerd Font";*/
  /*src: url("https://raw.githubusercontent.com/ryanoasis/nerd-fonts/master/patched-fonts/UbuntuMono/Bold-Italic/UbuntuMonoNerdFont-BoldItalic.ttf") format("truetype");*/
  /*font-stretch: normal;*/
  /*font-style: normal;*/
/*}*/
