@font-face {
  font-family: "UbuntuMono Nerd Font";
  src: url("https://raw.githubusercontent.com/ryanoasis/nerd-fonts/master/patched-fonts/UbuntuMono/Regular/UbuntuMonoNerdFont-Regular.ttf") format("truetype");
  font-stretch: normal;
  font-style: normal;
  /*font-weight: 700;*/
}
@font-face {
  font-family: "UbuntuMono Nerd Font";
  src: url("https://raw.githubusercontent.com/ryanoasis/nerd-fonts/master/patched-fonts/UbuntuMono/Regular-Italic/UbuntuMonoNerdFont-Italic.ttf") format("truetype");
  font-stretch: normal;
  font-style: normal;
  /*font-weight: 300;*/
}
@font-face {
  font-family: "UbuntuMono Nerd Font";
  src: url("https://raw.githubusercontent.com/ryanoasis/nerd-fonts/master/patched-fonts/UbuntuMono/Bold/UbuntuMonoNerdFont-Bold.ttf") format("truetype");
  font-stretch: normal;
  font-style: normal;
  /*font-weight: 500;*/
}
/*@font-face {                                                                                                                                  */
/*  font-family: "UbuntuMono Nerd Font";                                                                                                        */
/*  src: url("https://raw.githubusercontent.com/ryanoasis/nerd-fonts/raw/master/patched-fonts/UbuntuMono/Bold/UbuntuMonoNerdFont-Bold.ttf") format("truetype");*/
/*  font-stretch: normal;                                                                                                                       */
/*  font-style: normal;                                                                                                                         */
/*  [>font-weight: 400;<]                                                                                                                       */
/*}                                                                                                                                             */
@font-face {
  font-family: "UbuntuMono Nerd Font";
  src: url("https://raw.githubusercontent.com/ryanoasis/nerd-fonts/master/patched-fonts/UbuntuMono/Bold-Italic/UbuntuMonoNerdFont-BoldItalic.ttf") format("truetype");
  font-stretch: normal;
  font-style: normal;
  /*font-weight: 400;*/
}
